.change-sun-color-container {
    position: fixed;
    bottom: 6vh;
    right: 6vh;
    z-index: 2;
    height: 12vh;
    width: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#current-color-container {
    display: flex;
    justify-content: space-evenly;
    color: white;
}

#get-sun-colors,
#reset-color-btn {
    background: #31344e;
    padding: 5px;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    height: 30%;
    transition: 0.3s;
}

#get-sun-colors:hover,
#reset-color-btn:hover {
    color: white;
    background: #56596f;
}

@media only screen and (min-device-width: 520px) and (orientation : portrait) {
    .change-sun-color-container {
        bottom: 5vh;
        right: 3vh;
        width: 30vw;
        height: 12vh;
        font-size: xx-large; 
    }
} 
